
*.obj
*.cache
*.targets
*.props
*.json
*.pdb
*.editorconfig
*.dll
*.txt
*.bin
*.cs
*.exe
# Ignore all files in bin/Debug/net8.0/
bin/Debug/net8.0/*

# Ignore all files in obj/Debug/net8.0/
obj/Debug/net8.0/*



